/*
### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color:hsl(217, 54%, 11%);
    font-family: 'Outfit',sans-serif ;
    font-size: 18px;
}
.container{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 540px;
    width: 325px;
    border-radius: 15px;
    background-color: hsl(216, 50%, 16%);
    padding: 25px;
    margin-top: 50px;
    
}

.picture{
    border-radius: 15px;
    width: 100%;
}
.image-wraper{
    position: relative;
   
}

.picture-change{
    background-color: hsl(178, 100%, 50%);
    height: 98%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.picture-change:hover{
    opacity: 0.6;
    cursor: pointer;
}
.view{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


 
.title{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;


}
.title:hover{
    color: hsl(178, 100%, 50%);
}
.description{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    margin-top: 18px;
}
.price{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    padding-left: 5px;
}
.price-block{
    display: inline-flex;
    align-items: center;
}
.days-block{
    display: inline-flex;
    align-items: center;
}
.days{
    padding-left: 5px;
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}
.wrapper1{
    font-size: 15px;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}
.line{
    width: 100%;
    height: 1px;
    background-color: hsl(215, 32%, 27%);
    margin-top: 18px ;
    
}
 .wrapper2{
     display: flex;
     align-items: center;
     margin-top: 18px;
     color: hsl(215, 51%, 70%);
     font-weight: 300;
     font-size: 15px;
     gap: 15px;

 }

 .wrapper2 img{
     width: 30px;
     border: 1px solid white;
     border-radius: 50%;
 }
 .decription-avatar span{
     color:white;
 }